.background {
    background-color: #726c6c;
}
.live  {
     /* float: right; */ 
    margin-left: 45%;
    color: white;
}
.tracking {
    color: white;
    margin-left: 35%;
    font-size: 50px;
    margin-top: -28px;
    margin-bottom: -4px;

}
#small {
    font-size: 14px;
    color:white;
    font-family: fantasy;
    margin-left: -88%;
}

.card_name,.card_inner {
    font-size: 40px;
    /* color: rgb(129, 12, 145); */
    color: white;
    font-family: fantasy;
    margin-left: 37%;
   
}

.card_total, .card_small {
    font-size: 42px;
    color: rgb(246, 243, 247);
    margin-left: -9%;
    margin-top: 24%;
}

.card1 {
    width: 450px;
    height: 250px;
    border: 2px solid red !important;
    border-radius: 15%;
    text-shadow:6px 10px 8px cornflowerblue;
    background-color: rgb(25, 67, 121);
    font-size: 20px;
    color: beige;
    margin-right: 40px;
    }
.card2 {
        width: 450px;
        height: 250px;
        border: 2px solid red;
        border-radius: 15%;
        text-shadow: 12px 14px 7px grey;
        background-color: rgb(18, 235, 72);
        font-size: 20px;
        color: beige;
        margin-right: 40px;
        }
.card3 {
            width: 450px;
            height: 250px;
            border: 2px solid red !important;
            border-radius: 15%;
            text-shadow: 12px 14px 7px grey;
            background-color: rgb(229, 255, 0);
            font-size: 20px;
            color: beige;
            margin-right: 40px;
            }   
.card4 {
                width: 450px;
                height: 250px;
                border: 2px solid red !important;
                border-radius: 15%;
                text-shadow: 12px 14px 7px grey;
                background-color: rgb(223, 127, 49);
                font-size: 20px;
                color: beige;
                margin-right: 40px;
                } 

 .card5 {
    width: 450px;
    height: 250px;
    border: 2px solid red !important;
    border-radius: 15%;
    text-shadow: 12px 20px 7px grey;
    background-color: rgb(100 154 218);
    font-size: 20px;
    color: beige;
    margin-right: 40px;
    }
.card6 {
    width: 450px;
    height: 250px;
    border: 2px solid red !important;
    border-radius: 15%;
    text-shadow: 12px 14px 7px grey;
    background-color: rgb(157, 177, 68);
    font-size: 20px;
    color: beige;
    margin-right: 40px;
    }                   
   .coronadata {
        display: flex;
        flex-direction:initial;
        justify-content:space-around; 
        margin-right: 100px;
        list-style-type: none;  
    }
    #animate {
        width: 50px;
        height: 40px;
        animation: live 3s infinite;
    }
    @keyframes live {
        25% {
            font-size: 15px;
            color:crimson;
        }
        50% { font-size: 18px;
        color:white}
        75% {font-size: 22px; color: rgb(223, 9, 45);}
    }